#counter {
    .counterWrapper {
        .countfect {
            font-family: 'Archivo Black';
            font-size: 20px;
            /* more styles here */
        }
    }
}

main {
    #slider {
        .owl-carousel {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            .custom-slider-item {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                img {
                    max-width: 100%;
                    transition: all 0.3s linear;
                    transform: scale(1);
                }
                .content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    z-index: 2;
                    i {
                        font-size: 24px;
                        color: white;
                        opacity: 0;
                        transition: all 0.3s linear;
                    }
                    p {
                        color: rgb(36, 36, 36);
                        opacity: 0;
                        transition: all 0.3s linear;
                    }
                }
                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0);
                    transition: all 0.3s linear;
                    z-index: 1;
                }
                // &:hover {
                //     img {
                //         transform: scale(1.2);
                //     }
                //     .content {
                //         i {
                //             opacity: 1;
                //         }
                //         p {
                //             color: #FD5A38;
                //             opacity: 1;
                //         }
                //     }
                //     &::before {
                //         background-color: rgba(0, 0, 0, 0.8);
                //     }
                // }
            }
            .hovered {
                img {
                    transform: scale(1.2);
                }
                .content {
                    i {
                        opacity: 1;
                    }
                    p {
                        color: #FD5A38;
                        opacity: 1;
                    }
                }
                &::before {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
            .owl-nav {
                button {
                    padding: 0px 20px !important;
                    background: white;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    span {
                        font-size: 32px;
                        position: relative;
                        top: -3px;
                    }
                    &:first-child {
                        left: 0;
                    }
                    &:last-child {
                        right: 0;
                    }
                }
            }
            .owl-dots {
                display: none;
            }
        }
    }
}